<table border="1">
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Contact No</th>
        <th>Status</th>
    </thead>
    <tbody>
        <% customers.forEach((c,i)=>{ %>
            <tr>
                <td>
                    <%=c.firstName%>
                        <%=c.lastName%>
                </td>
                <td>
                    <%=c.email%>
                </td>
                <td>
                    <%=c.contactNo%>
                </td>
                <td>
                    <%=c.status%>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>

<form method="POST" action="">
    <div>
        <label for="">First Name</label>
        <input type="text" name="firstName" id="">
    </div>
    <div>
        <label for="">Last Name</label>
        <input type="text" name="lastName" id="">
    </div>
    <div>
        <label for="">Email</label>
        <input type="email" name="email" id="">
    </div>
    <div>
        <label for="">Contact No</label>
        <input type="text" name="contactNo" id="">
    </div>
    <div>
        <label for="">Status</label>
        <input type="checkbox" name="status" id="">
    </div>
    <button type="submit">Save</button>
</form>